extends layout

block content
  h1= title
  
  // https://bootsnipp.com/snippets/Qbkm1
  div(class='container') 
    each episode in episode_list
      div(class='media')
        img(class='align-self-center mr-3', src=episode.imageURL, style='width:72px;height:72px;')
        div(class='media-body')
          a(href=episode.url)
            h3(class='mt-0') #{episode.fullTitle}
          p #{episode.description}

    else
      h3 There are no episodes.