extends layout

block content
    h1= title
    p= episode.description
    a(class='btn btn-primary', href=updateURL) Edit
    ul
      each member in episode.member
        li #{member.name}
      
      else 
        li no members associated with this episode
    
    ul
      each feature in episode.feature
        li
          a(href=feature.url) #{feature.title}
      
      else 
        li no features associated with this episode

    a(type='button', class='btn btn-outline-primary' href='/features/create?episode=' + episode._id) add feature

    ul
      each jingle in episode.jingle
        li #{jingle.title}
      
      else 
        li no jingles associated with this episode

    img(src=episode.imageURL style='width:256px;height:256px;' class='rounded')